<!DOCTYPE html>
<html>
<head>
<title>Kajal Blog</title>
<link rel="stylesheet" href="/css/kaju.css">
</head>
<body>
<header>
    
<h1>My first Blog</h1>
<span data-toggle-target=".buttons" class="toggle-btn">MENU</span>
<nav class="buttons">
<a href="/myweb/home" class="button">Home</a>
<a href="/myweb/account">Account</a>
<a href="/myweb/Result">Result</a>
</nav>
<h2>My INTRO</h2>
</header>
    
    @RenderBody()
     <footer>
          <p>all the best for future</p>
       </footer>
</body>
</html>