
<div class="def">
<p>My name is <strong>Kajal</strong> and I am from <b>Bihar</b>. I am currently studying B.Tech in CSE at Chandigarh University. 
I was raised in Bihar and when I was 17 I moved to punjab to take my university study.About my family, 
there are 5 members including me.My fatheris a Buisnessman.My mother is a Housemaker.My elder sister get
married year before.My hobby is: &lsquo;dancing&rsquo;.</p>
</div>
<p> To know me more read some good and bad <a href="quality.html">qualities in me</a></p>
<p>my profile pic:</p>
<div class="image">
  <img src="Kimage/Kprofile.JPG">
   <div class="img-desc">
   <p>A   beautiful   smileeeeeeee  dolll............ </p>
   </div>
</div>
<p>my fav song:</p>
<audio controls>
       <source src="Kaudio/happybdaysong.mp4" type="audio/mpeg">
</audio>
<p>bhot ho gya mre bare m ab kch apne bare m btao</p>
<form>
  <label for="firstname" class="hidden">First Name:</label>
  <input id="firstname" type="text" name="firstname" placeholder="First name"> 
  <label for="lastname" class="hidden">Last Name:</label>
  <input id="lastname" type="text" name="lastname" placeholder="Last name"> 
  <label for="email" class="hidden">Email Id:</label>
  <input id="email" name="email" type="email" placeholder="Email"> 
  <label for="yourmessage">Your Message Here:</label>
  <textarea id="yourmessage" name="yourmessage" placeholder="your message here"></textarea>
  
  <p>tell me ur fav color: <select>
                           <option>yello</option>
                           <option>red</option>
                           <option>orange</option>
                           <option>black</option>
                        </select></p>


     <legend>what is ur qualification?</legend>
     <input  type="radio"id="10thpass" name="qualification" >s<label for="10thpass">10th pass</label> 
     <input  type="radio" id="12thpass" name="qualification" ><label for="12thpass">12th pass</label>
     <input  type="radio" id="graduate" name="qualification" ><label for="graduate">Graduate</label>
 

     <legend>choose ur fav snacks:</legend>
     <input  type="checkbox"id="pizza" name="Snacks" >s<label for="pizza">Pizza</label> 
     <input  type="checkbox" id="pastry" name="Snacks" ><label for="pastry">Pastry</label>
     <input  type="checkbox" id="buiscuit" name="Snacks" ><label for="buiscuit">Buiscuit</label>
     <input  type="checkbox" id="patties" name="Snacks" ><label for="patties">Patties</label>

<input type="submit" value="save!">
</form>



<div class="abc">
<table>
<div class:"jkl">
   <tr>
      <th>Name</th>
      </div>
      <div class="ghi">
      <th>Good Quality</th> 
      <th>Bad Quality</th>
   </tr>
<tbody>
   <tr>
      <td>Kajal</td>
      <td>Helpful</td>
      <td>Always sleepy</td>
   </tr>
   <tr>
      <td>Anjali</td>
      <td>motivative</td>
      <td>Always sleepy</td>
   </tr>
   <tr>
       <td>Divya</td>
       <td>hard working</td>
       <td>Attitude</td>
   </tr>
   <tr>
      <td>saviya</td>
       <td>Helpful</td>
       <td>angry bird</td>
   </tr>
   <tr>
      <td>Srishti</td>
      <td>cooking</td>
      <td>time wsting</td>
   </tr>
</tbody>
</div>
</table>
</div>
