<!DOCTYPE html>
<html>
  <head>
     <title>My quality</title>
  </head>
  <body>
     <h1>Qualities in me</h1>
     <p> my good quality</p>
     <ul>
         <li>good dancer</li>
         <li>focused</li>
         <li>self motivated</li>
         <li>helping nature</li>
         <li>friendly</li>
      </ul>

      <p>some bad quality</p>
      <ul>
          <li>time waste</li>
          <li> lazy</li>
          <li> angry bird</li>
      </ul>
      <a href="Kaju.html">go to first page</a>
  </body>
</html>
